**/node_modules
**/.env
**/.env.*
!**/.env.example
**/dist
**/logs
**/uploads
.git
.github
*.log
.gitignore
.gitattributes
README.md
.vscode/
.expo/
coverage/
tests/
**/*.test.ts
**/*.spec.ts
kaphor-frontend
docs
**/firebase-service-account.json
**/*.pem
**/*.key
